.main-discovery{
    margin-top: 50px;
    display: grid;
    width: 100%;
    height: 600px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "community-engagement economic-vibrancy"
    "community-engagement education-excellence"
    "community-engagement cultural-diversity"
    "community-engagement natural-beauty"
    ;

}

.community-engagement{
    background-color: #ffffff;
    
    /* grid-column: 1/2;
    grid-row: 1/5; */
    grid-area: community-engagement;
}


.economic-vibrancy{
    background-color: #e1e7f3;
    grid-area: economic-vibrancy;
    
    /* grid-column: 2/2;
    grid-row: 1/2; */
}
.education-excellence{
    background-color: #e1e7f3;
    grid-area: education-excellence;
   
    
    /* grid-column: 2/2;
    grid-row: 2/3; */
}
.cultural-diversity{
    background-color: #e1e7f3;
    grid-area: cultural-diversity;
   
    
    /* grid-column: 2/2;
    grid-row: 3/4; */
}
.natural-beauty{
    background-color: #e1e7f3;
    grid-area: natural-beauty;
        
    /* grid-column: 2/2;
    grid-row: 4/5; */
   
}

.space{
    width: 100%;
    height: 50px;
}


.calendar {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
  }
  
  .calendar .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  
  .calendar .month .year {
    font-weight: 600;
    margin-left: 10px;
  }
  
  .calendar .month .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0a3d62;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    transition-duration: 0.2s;
    position: relative;
  }
  
  .calendar .month .nav:hover {
    background: #eee;
  }
  
  .calendar .days {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    color: #999;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .calendar .days span {
    width: 50px;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  
  .calendar .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .calendar .dates button {
    cursor: pointer;
    outline: 0;
    border: 0;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    justify-self: center;
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 2px;
    transition-duration: 0.2s;
  }
  
  .calendar .dates button.today {
    box-shadow: inset 0px 0px 0px 2px #0a3d62;
  }
  
  .calendar .dates button:first-child {
    grid-column: 3;
  }
  
  .calendar .dates button:hover {
    background: #eee;
  }
  
  .calendar .dates button:focus {
    background: #0a3d62;
    color: #fff;
    font-weight: 600;
  }
  


@media screen and (max-width: 520px) {
    
    .main-discovery{
        margin-bottom: 50px;        
        display: grid;
        width: 100%;
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
        "community-engagement"        
        " economic-vibrancy"
        "education-excellence"
        "natural-beauty"     
        "cultural-diversity"
        ;
    
    }
    
    .community-engagement{
        background-color: #ffffff;
        
        /* grid-column: 1/2;
        grid-row: 1/5; */
        grid-area: community-engagement;
    }
    
    
    .economic-vibrancy{
        background-color: #ffffff;
        grid-area: economic-vibrancy;
        
        /* grid-column: 2/2;
        grid-row: 1/2; */
    }
    .education-excellence{
        background-color: #ffffff;
        grid-area: education-excellence;
       
        
        /* grid-column: 2/2;
        grid-row: 2/3; */
    }
    .cultural-diversity{
        background-color: #ffffff;
        grid-area: cultural-diversity;
       
        
        /* grid-column: 2/2;
        grid-row: 3/4; */
    }
    .natural-beauty{
        background-color: #ffffff;
        grid-area: natural-beauty;
            
        /* grid-column: 2/2;
        grid-row: 4/5; */
       
    }
    
    .space-join{
      height: 50px;
      width: 100%;
    }


/*directory*/

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.card img {
  max-width: 100%;
  height: auto;
}

/* .card a {
  text-decoration: none;
} */






























































@media screen and (max-width: 479px){
    
}