:root {
    --red-color: #c1121f;
    --cream-color: #fdf0d5;
    --navy-color: #0c567d;
    --sky-blue-color: #0B3FA8;
  }

.roboto-regular {
    margin-top: 6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
/*new css*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

 /* body {
  background: var(--cream-color);

}  */
/*Navigation start*/
 .navMenu {  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80px;
  background-color:var(--sky-blue-color);
  width: 100%;
} 

.navMenu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  /* width: 80px; */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: var(--red-color);
}

header h1,.visitMessage{
  text-align: center;
}
.navMenu .dot {
  width: 6px;
  height: 6px;
  background: var(--red-color);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/*Navigation end*/

.hero_background_image {
    width: 100%;
    height: 600px;
    background-image: url("../images/compnySpotlight.webp");

    object-fit: fill;
    /* background-size: cover; */
    background-position: center;
  }
/* title animation start*/
.rotating-text {
    margin-top: 6rem;
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: rgb(99, 92, 228);
    transform: translateX(-80px);
  }
  
  .rotating-text p {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
  }
  
  .rotating-text .word {
    position: absolute;
    display: flex;
    opacity: 0;
  }
  
  .rotating-text .word .letter {
    transform-origin: center center 25px;
  }
  
  .rotating-text .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
  }
  
  .rotating-text .word .letter.in {
    transition: 0.38s ease;
  }
  
  .rotating-text .word .letter.behind {
    transform: rotateX(-90deg);
  }
  
  /* Palette Colors */
  .alizarin {
    color: #e74c3c;
  }
  
  .wisteria {
    color: rgb(255 255 255);
  }
  
  .peter-river {
    color: #55a2eb;
  }
  
  .emerald {
    color: #2ecc71;
  }
  
  .sun-flower {
    color: #f1c40f;
  }

  .hero_background_image{
    display: flex;
    justify-content: center;
  }

  /* title animation End*/


  /*  Call to action  button*/ 

.myButton {
	box-shadow: 3px 4px 0px 0px #55a2eb;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#55a2eb;
	border-radius:5px;
	border:1px solid #55a2eb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn-cta{
  margin: 20px 0;
  width: 100%;
 display: flex;
 justify-content: center;
}

.chamber-spotlight{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/*FOoter*/

footer{
 
  bottom: 0;
  position: fixed;
  background-color:#0B3FA8;
  color: #FAFAFA;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.contact-info,.quick-links,.social-media,.newsletter,.copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem;
}

footer a{
  color: #fff;
  text-decoration: none;
}

/*
  Discorver page
*/



/* Side bar*/

 .main-side-bar{
  height: 80rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
     
} 

.data{
  height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.data img{
  width: 100%;
  
}
/* Side bar End*/
/*image galey*/

.container {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-bottom: 20rem;
}

.grid-wrapper {
  list-style: none;
  column-width: 350px;
  gap: 20px;
}

.grid-wrapper img {
  width: 100%;
  height: auto;
}

.grid-wrapper li {
  margin-bottom: 20px;
}

/* Regras de Midia */

@media (width  <= 480px) {
  .main-grid{
    /* display: grid;
    grid-template-columns: 1fr;
    gap:30px; */
    margin: 1.5rem;
  }


  /* .container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .grid-wrapper {
    column-width: 250px;
  } */
}


/*Alert message*/

.alert {
  padding: 20px;
  background-color: #1A5F0C;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/*Alert Message End*/







@media (width >= 480px) {
  .main-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:30px;
    margin: 2rem;
  }


  .container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .grid-wrapper {
    column-width: 250px;
  }
}




/* SLider  event*/

.sr-only {
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: transparent;
}

input {
  position: absolute;  
  opacity: 0;
  margin-top: 95vh;
  cursor: pointer;
}

label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid 2px white;
  border-radius: 999px;
  background-color: transparent;
  margin: 95vh 6px 0 6px;
  z-index: 2;
  cursor: pointer;
  transition-duration: .4s;
  box-shadow: 0 0 20px 0 #000;
}

input:checked + label{
  background-color: white;
}

input + label::after{
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' width='100' style='fill:white'%3E%3Cpath d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center 55%;
  background-size: 80px 80px;
  line-height: 100vh;
  transition: background-size 200ms;
  position: absolute;
  color: white;
  height: calc(95vh - 12px);
  width: 80px;
  top: 0;
  left: 0;
  z-index: 20;
}

input + label:hover::after {
  background-size: 10px 10px;
}

input:checked + label::after {
  background-image: none;
  width: 100%;
  left: 0;
  z-index: 10;
}

input:checked + label + .slide ~ input + label::after {
  display: none;
}

input:checked + label + .slide + input + label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' width='100' fill='white'%3E%3Cpath d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z' /%3E%3C/svg%3E");
  display: block;
  width: 100%;
  right: 0;
  left: auto;
}

input:focus + label{
  box-shadow: 0 0 0 2px teal, 0 0 18px white;
}

.slide {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition-duration: .4s;
  opacity: 1;
}

input:checked ~ .slide {
  transform: translateX(100%);
}

input:checked + label + .slide {
  transform: translateX(0);
  opacity: 1;
}

.bg1{
  background-image: url(https://images.unsplash.com/photo-1422806310414-91469fe4977e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=114e7a73b2385128045a5555b981e939);
  object-fit: contain;
}
.bg2{
  background-image: url(https://images.unsplash.com/photo-1490020641477-3b0e96306b9a?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=d8358f021c68f49335fe44b10f70b700);
  object-fit: contain;}
.bg3{
  background-image: url(https://images.unsplash.com/photo-1512529111457-3e8a595ef8e9?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=9b3ab76b65a358830d60ca43be76f2e1);
  object-fit: contain;}
.bg4{
  background-image: url(https://images.unsplash.com/photo-1504700610630-ac6aba3536d3?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=92d2cae094fb24e5266221828ee251e2);
  object-fit: contain;}
.bg5{
  background-image: url(https://images.unsplash.com/reserve/wPCyys8TPCHY3GXm2N2D_ssp_inthewoods_1.jpg?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=654d988a19f43ca9ac27f2eacbe2a554);
  object-fit: contain;}

/*slider evennt Fin*/