* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


:root {
  --primary-color: rgb(28, 156, 216);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --form-width: 400px;
  --form-height: 500px;
  --input-width: 300px;
  --input-height: 40px;
  --border-radius: 8px;
} 
/* Menu */
.container {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
  padding: 0 24px;
  background-color: #120740;
}
.container .logo {
  font-size: 40px;
  font-weight: 700;
  color: rgb(231, 49, 49);
}
.container .ul-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.container .ul-container li {
  list-style: none;
}
.container .ul-container li a {
  text-decoration: none;
  color: #fff;
}
.container .ul-container .li-container .nav-link {
  transition: 0.2s ease;
}
.container .ul-container .li-container .nav-link:hover {
  color: rgba(73, 224, 73, 0.89);
}

/*footer desktop*/
.footer-container {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #120740;
  height: 100px;
}
.footer-container .footer-section-container {
  padding-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
.section-div-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
 .footer-container .footer-section-container .section-div-container h5 {
  color: #fff;
  padding-bottom: 20px;
} 

/* .container .section-div-container h5 {
  color: #fff;
  padding-bottom: 20px;
} */

.footer-container .footer-section-container .section-div-container .section-div-ul-container {
  margin-top: -17px;
}
.footer-container .footer-section-container .section-div-container .section-div-ul-container a, .footer-container .footer-section-container .section-div-container .section-div-ul-container ul, .footer-container .footer-section-container .section-div-container .section-div-ul-container li {
  color: #fff;
  font-size: 12px;
}
.footer-container .footer-section-container li {
  font-size: 10px;
}

form label {
  color: #0f27af;
}

.section-div-container.item1 form label {
  color: #ffffff;
}
#Suscribe{
  color: #ffffff;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: url("../images/hero-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.hero-section .hero-section-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
}
.hero-section .hero-section-card h2, .hero-section .hero-section-card p {
  color: #fff;
}
.hero-section .hero-section-card .hero-sectio-button {
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: none;
}

.news-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  height: 300px;
  width: 100%;
  gap: 50px;
}
.news-section .news-section-card-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../images/dcc-exportation.webp);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.news-section .news-section-card-1 .title {
  font-size: 12px;
  color: #fff;
  font-weight: 800;
  padding-left: 20px;
}
.news-section .news-section-card-1 .description {
  font-size: 16px;
  color: #fff;
  font-weight: 800;
  padding-left: 20px;
}
.news-section .news-section-card-1 .button-1-container {
  display: flex;
  justify-content: flex-end;
}
.news-section .news-section-card-1 .button-1-container .button-1 {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: #0c3471;
  color: #fff;
  margin-right: 23px;
}
.news-section .news-section-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../images/green-grocery2.webp");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.news-section .news-section-card-2 .title {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  padding-left: 20px;
}
.news-section .news-section-card-2 .description {
  font-size: 16px;
  color: #fff;
  font-weight: 800;
  padding-left: 20px;
}
.news-section .news-section-card-2 .button-1-container {
  display: flex;
  justify-content: flex-end;
}
.news-section .news-section-card-2 .button-1-container .button-1 {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: #0c3471;
  color: #fff;
  margin-right: 23px;
}

.mySlides {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySlides img {

  vertical-align: middle;
  height: 250px;
  width: 100%;
  object-fit:cover
}

.containerSlide {
  width: 98%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
}

.mySlides {
  width: 90%;
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  position: relative;
  cursor: pointer;
  height: 0px;
  width: 0px;
  padding-top: 10px;
  margin-top: 30px;
  text-align: center;
  color: rgb(173, 23, 23);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(126, 126, 126, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.mySlides img:before{
  content: ">";
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.slideCOmtainert {
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
}
.discorver-images{
  width: 100%;
  height: 100%;
}
.discorver-images img{
  margin: 10px;
}
/* start form desktop*/
.main-form {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  gap: 50px;
}

.space-join{
  height: 400px;
  width: 100%;
}
.conatainer-form {
  display: flex;
  flex-direction: column;
  width: var(--form-height);
  height: 750px;
  border: solid 1px #106bb6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
.conatainer-form div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div input{
  width: var(--form-width);
  height: var(--input-height);
  border-radius: 8px;
  border-color: rgb(28, 156, 216);
}
.conatainer-form div label{
  width: var(--form-width);
  display: inline-block;
}
.join-button{
  width: 150px;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  background-color: #090b81;
}
#description{
  width: 414px;
  max-width: 70%;
  height: 130px;
  max-height: 106px;
}

.menbership-informaction{
  width: 350px;
}
/*fin form desktop*/

/* thank you page*/

.thanks-container{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* directorry*/

#card-container{
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}


.card{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#cardChangeView{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 70%;
  height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.card img{
width: 150px;
height: 150px;
object-fit:contain;

}

.cardChangeView img{
  width: 150px;
  height: 150px;
  object-fit:contain;
  
  }

  .viewButton{
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    width: 300px;
    gap: 30px;
  }

  .cta-Join{
    margin-top: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 132px;
    cursor: pointer;
   
  }

  .cta-Join :hover {
    color: rgba(73, 224, 73, 0.89);
  }

  .container-cta-Join{
    margin-top: 200px;
    margin-bottom: 200px;
  }

 .hero-section-card:hover{
    transform: scale(1.5);
  }















/* fin thank you page*/
@media screen and (max-width: 520px) {
  /* thank you page*/

.thanks-container{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.conatainer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 750px;
  border: solid 1px #106bb6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
/* fin thank you page*/

  .discorver-images img{
    margin: 0;
  }

  .container.active {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    min-height: 366px;
    align-items: center;
    padding: 0 24px;
    background-color: #120740;
  }
  .hamburger {
    display: block;
    margin-right: 42px;
  }
  .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .ul-container {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    align-items: center;
    transition: 0.3s;
  }
  .li-container {
    margin: 16px 0;
  }
  .ul-container.active {
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
  }
  .container.active {
    margin-bottom: 300px;
    position: fixed;
    width: 100%;
  }
  .hero-section-card {
    padding: 0 20px 0 20px;
  }
  .hero-section-card h2 {
    font-size: 16px;
  }
  .hero-section-card p {
    font-size: 12px;
  }
  .hero-section-card h2, .hero-section-card p {
    color: #fff;
  }

  .h2-compagnie{
    margin-top: 400px;
  }
  .hero-section-card .hero-sectio-button {
    margin-top: 50px;
  }
  .news-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    gap: 40px;
    margin-bottom: 300px;
  }
  .news-section .news-section-card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../images/dcc-exportation.webp);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
  .news-section .news-section-card-1 .title {
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    padding-left: 20px;
  }
  .news-section .news-section-card-1 .description {
    font-size: 16px;
    color: #fff;
    font-weight: 800;
    padding-left: 20px;
  }
  .news-section .news-section-card-1 .button-1-container {
    display: flex;
    justify-content: flex-end;
  }
  .news-section .news-section-card-1 .button-1-container .button-1 {
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #0c3471;
    color: #fff;
    margin-right: 23px;
  }
  .news-section .news-section-card-1 .news-section-card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("../images/green-grocery2.webp");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
    margin: 20px;
  }
  .news-section .news-section-card-1 .news-section-card-2 .title {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    padding-left: 20px;
  }
  .news-section .news-section-card-1 .news-section-card-2 .description {
    font-size: 16px;
    color: #fff;
    font-weight: 800;
    padding-left: 20px;
  }
  .news-section .news-section-card-1 .news-section-card-2 .button-1-container {
    display: flex;
    justify-content: flex-end;
  }
  .news-section .news-section-card-1 .news-section-card-2 .button-1-container .button-1 {
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #0c3471;
    color: #fff;
    margin-right: 23px;
  }
 
  .news-section .footer-container .footer-section-container .item1 {
    grid-column-start: span 3;
  }
  
  .section-div-container {
    display: flex;
    height: 153px;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: nowrap;
    width: 100%;
}
.form-footer-input{
  width: 96%;
  border-radius: 8px;
  border-color: rgb(28, 156, 216);
  height: 30px;
}
    .footer-container {
      position: fixed;
      bottom: 0;
      display: flex;
      width: 100%;
      background-color: #120740;
      height: 145px;
      align-items: center;
  
  }
    
   
  .footer-container .footer-section-container {
    padding-top: 0px;
    padding-bottom: 17px;
    margin-right: 30px;
    margin-left: 13px;
    margin-top: 40px;
    display: flex;
    width: 100%;
   justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}


.main-form {
  padding: 30px;
  width: 99%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: stretch;
}



.container-form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: var(--form-height);
  border: solid 1px #106bb6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  align-content: center;
}

.container-form div {
  width: 50%;
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div input {
  width: 70%;
  border-radius: 8px;
  border-color: rgb(28, 156, 216);
}

.conatainer-form div label {
  width: 70%;
  display: inline-block;
}

}