:root {
    --primary-color: hsla(200, 15%, 43%, 1); 
    --secondary-color: hsla(173, 36%, 55%, 1);
    --background-color: hsla(140, 100%, 99%, 1); 
}

@media screen and (max-width:810px ){
    header h1 {    
        font-size: 16px !important;
    }
    .titulo {
        font-size: 16px !important;
        width: 100%;
    }
    .titulo {
        font-size: 16px !important;
       display: inline-block;
        width: 100%;
    }

    nav {
        background-color: var(--primary-color) !important;
        height: 117px !important;
        display: flex !important;
        align-items: center !important;
    }

nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:first-child {
    width: 100% !important;
    height: 194px !important;
   
}

element.style {
}
main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 25px;
    margin-right: 25px;
}
.card-learning{
    grid-column: 1/13;    
}
.card-info{
    grid-column: 1/13;
}

}