:root {
    --primary-color: hsla(200, 15%, 43%, 1);
    --secondary-color: hsla(173, 36%, 55%, 1);
    --background-color: hsla(140, 100%, 99%, 1);
  }
  .weather-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .weather-logo{
    width: 100px;
    height: 100px;
  }
  .hamburger{
    display: none;
    
}
  /* .hamburger{
    display: none;
  } */
  /* Media Query for Screens <= 810px */
  @media screen and (max-width: 810px) {
    /* Navigation Styles */
    
    header h1 {
      font-size: 16px !important;
    }
  
    /* Other Styles for Smaller Screens */
    .titulo,
    .mobile-menu {
      font-size: 16px !important;
      width: 100%;
    }
  
 
  
    /* Navigation List Styles */

    .hamburger{
      display: block;
    } 

    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
    .ul-container{
      position: fixed;
      left: -100%;
      top: 0px;
      gap: 0;
      flex-direction: column;
      background-color: var(--primary-color);
      width: 100%;
      align-items: center;
      transition: 0.3s;
    }
    .li-container{
      margin: 16px 0;
    }
    .ul-container.active{
      left: 0;
    }

    .container.active{
      margin-bottom: 300px;
      position: fixed;
      width: 90%;
    }
    .main.active{
      margin-top: 90px;
    }


   
    /* First Card Styles */
    .card:first-child {
      width: 100% !important;
      height: 194px !important;
    }
  
    /* Main Grid Styles */
    main {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-left: 25px;
      margin-right: 25px;
    }
  
    /* Card Styles */
    .card-learning {
      grid-column: 1/13;
    }
  
    .card-info {
      grid-column: 1/13;
    }
  
    /* Hamburger Menu Styles */
  }
  