:root {
    --primary-color: hsla(200, 15%, 43%, 1); 
    --secondary-color: hsla(173, 36%, 55%, 1);
    --background-color: hsla(140, 100%, 99%, 1); 
}

*,body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
      url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
        format('woff2');
    font-display: swap;
  }
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: var(--secondary-color);
}
header figure img{
    width: 100px;
    height: 100px;
}
header h1{
    color: #fff;
}
/* Menu */
.logo{
    font-size: 40px;
    font-weight: 700;
    color: rgb(231, 49, 49);
}
.container{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 0 24px;
}
.ul-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 60px;
}
a{
    text-decoration:none ;
    color: #fff;
}
.ulweek a{
    text-decoration:none ;
    color: #000;
}
li{
    list-style: none;
}
.nav-link{
    transition: 0.2s ease;
}
.nav-link:hover{
    color: rgba(73, 224, 73, 0.89);
}
  

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
   
    -webkit-transition:all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out ;
    background-color: #fff;

}


/* Menu */


main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    margin-left: 100px;
    margin-right: 100px;
     
    }
main h2{
    grid-column: 1/13;
    grid-row: 1;
    border-bottom: solid 0.5px #4b4a4a;
}

.hero{
    display: grid;
    grid-column: 1/13;
    object-fit: cover;
}
.hero img{
    width: 100%;
}
.card-learning{
    grid-column: 1/8;    
}
.card-info{
    grid-column: 9/13;
}
.card h3{
    text-align: center;
    background-color: var(--secondary-color);
    height: 50px;
    line-height: 50px;
}
.card{
    margin-top: 20px;
    box-shadow: 1px 0px 8px 9px rgba(220,210,210,1);
    -webkit-box-shadow: 1px 0px 8px 9px rgba(220,210,210,1);
    -moz-box-shadow: 1px 0px 8px 9px rgba(220,210,210,1);
    /* height: 300px; */
    margin-bottom: 50px;
}

.titulo{
    font-size: 30px;
}
footer{
    background-color: var(--primary-color);
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section>ul{
    margin-left: 20px;
    display: grid;
    grid-gap: 14px;
    margin-top: 20px;
}
footer p{
    color: #fff;
}

.google-map{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info.card p{
    text-align: center;

}

@media screen and (max-width: 520px) {
    
main{
    margin-top: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 10px;
    padding-left: 15px;
    margin-left: 0;
    margin-right: 0;
    /* margin-left: -9px; */
    justify-content: center;
     
    }
main h2{
    grid-column: 1/13;
    grid-row: 1;
    border-bottom: solid 0.5px #4b4a4a;
}

.hero{
    display: grid;
    grid-column: 1/13;
    object-fit: cover;
}
.hero img{
    width: 100%;
}
.card-learning{
    grid-column: 1/13;    
}
.card-info{
    grid-column: 1/13;
}
.card h3{
    text-align: center;
    background-color: var(--secondary-color);
    height: 50px;
    line-height: 50px;
}
.card{
    margin-top: 20px;
    box-shadow: 1px 0px 8px 9px rgba(220,210,210,1);
    -webkit-box-shadow: 1px 0px 8px 9px rgba(220,210,210,1);
    -moz-box-shadow: 1px 0px 8px 9px rgba(220,210,210,1);
    /* height: 300px; */
    margin-bottom: 50px;
}

.titulo{
    font-size: 30px;
}
    
}